@model Book
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddBook</title>
    <link rel="stylesheet" href="~/Stylez/main.css" />
</head>
<body>
    <div class=header>
        <h1 class=header-heading>Add Book</h1>
    </div>
    <div class=nav-bar>
        <ul class=nav>
            <li><a href="~/Home/Index">Home</a></li>
            <li><a href="~/Home/Search">Search</a></li>
            <li><a href="~/User/UserProfile">MyProfile</a></li>
            <li>@Html.ActionLink("Add Book", "AddBook", "Book")</li>
            <li>@Html.ActionLink("Login", "Login", "Authentication")</li>
        </ul>
    </div>
    <div>
        @using (Html.BeginForm("AddBook", "Book", FormMethod.Post))
        {
            @Html.Partial("_EditBookPartialView", Model)
            @Html.HiddenFor(model => model.Id)
            @*foreach (Author a in Model.Authors)
            {
                @Html.Partial("_EditAuthorPartialView", a)
            }*@
            <input type="submit" value="Save" />
        }
    </div>
</body>
</html>
