@model Book

@{
    string authors = "";
    for (int i = 0; i < Model.Authors.Count; ++i)
    {
        Author author = Model.Authors.ElementAt(i);

        authors += "[" + @author.LastName + ", " + @author.FirstName + "]";
    }
}
<td>@Model.Id</td>
<td>@Model.Title</td>
<td>@authors</td>
<td>@Model.PublishYear</td>
<td>@Model.Genre</td>
<td>@Model.AvailableCopies</td>
<td>@Model.TotalCopies</td>
