@model Book


<td>@Model.Id</td>
<td>@Model.Title</td>
<td>
    @for (int i = 0; i < Model.Authors.Count; ++i)
    {
        Author author = Model.Authors.ElementAt(i);

        @author.LastName@:, @author.FirstName
        
        if (i < Model.Authors.Count - 1)
        {
            @:&ensp;
        }

    }
</td>
<td>@Model.PublishYear</td>
<td>@Model.Genre</td>
