@model Book


<td>@Model.Id</td>
<td>@Model.Title</td>
<td>@Model.PublishYear</td>
<td>@Model.Genre</td>
<td>@foreach (Author author in Model.Authors)
{
    @author.LastName@:, @author.FirstName 

}</td>
