@model Book
<div class="book-form">
    @Html.LabelFor(b => b.Title)
    @Html.TextBoxFor(b => b.Title)
    @Html.ValidationMessageFor(b => b.Title)
</div>
<div class="book-form">
    @Html.LabelFor(b => b.PublishYear)
    @Html.TextBoxFor(b => b.PublishYear)
    @Html.ValidationMessageFor(b => b.PublishYear)
</div>
<div class="book-form">
    @Html.LabelFor(b => b.Genre)
    @Html.TextBoxFor(b => b.Genre)
    @Html.ValidationMessageFor(b => b.Genre)
</div>
